@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");

:root{
    --primary-color: #0d0d44;
    --secondary-color: #5B9BC2;
    --accent1-color: #99BBD6;
    --accent2-color: #686868;

    --heading-font: "IBM Plex Sans", serif;
    --paragraph-font: "IBM Plex Sans", serif;

    --nav-background-color: #5B9BC2;
    --nav-link-color: #0d0d44;
    --nav-hover-link-color: #99BBD6;
    --nav-hover-background-color: #686868;
}

footer{
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
    width: 100%;
}

.hero-container {
    position: relative;
  }

.hero-content p {
    background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  font-size: 1.5vw;
  margin-right: 24%;
}

.hero-image {
    width: 100%;
    height: auto;
}

.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero-title-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.hero-title {
    font-family: var(--heading-font);
    text-align: center;
    font-size: 3vw;
    color: var(--primary-color);
    padding: 15px;
    background-color: #7ca3bbc5;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.274);
}

.happyclient {
    margin-top: 30%;
}


.adventure img{
    display: grid;
    grid-column: 5;
    width: 100%;
    height: auto;
}

body{
    font-family: var(--paragraph-font);
    max-width: 100%;
    padding: 20px;
}

h1{
    font-size: 3vw;
}

h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    font-size: 2.7vw;
}

article p{
    width: 70%;
    font-size: 1.3vw;
    padding: 25px;
    background-color: #ffffffc5;
    flex-grow: 1;
}

header{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 100%;
    padding: 20px;
    background-color: var(--accent1-color);
}


.happyclient img{
    display: block;
    position: absolute;
    top: 62%;
    left: 75%;
    height: auto;
    width: 25%;
}

.adventures {
    width: 100%;
  }
  
  .gallery {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  figure {
    margin: 0;
    padding: 0;
    scroll-snap-align: start;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  figcaption {
    text-align: center;
    font-size: 1.5vw;
    margin-top: 5px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #5B9BC2;
  }
  
  footer p {
    margin: 0;
  }
  
  .sociallinks {
    display: flex;
  }
  
  .sociallinks a {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .sociallinks img {
    width: 4vw;
  }

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:flex;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li{
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: black;
    font-weight: 700;
    text-decoration: underline;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.containertrips {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.trip {
  flex-basis: 30%;
  margin-bottom: 30px;
}

.trip img {
  width: 100%;
  height: auto;
}

.trip h2 {
  margin-top: 0;
}

.trip p {
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 80%;
}

th, td {
  border: 1px solid #0d0d44;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #5B9BC2;
}